<%- include('../../partials/head.ejs')  %> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="container">
		  
        <div class="row p-3">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card card-body">
                            <h4><%= title %> </h4>
                            <div class="profile-pics mb-3">
                                <img 
                                    src="<%= user.profilePics %>" 
                                    alt="Profile-Picture"
                                    class="img-thumbnail img-fluid"
                                    id="profilePics"
                                    width="200px"
                                >
                                <form action="/uploads/profilePics" class="my-2" id="profilePicsForm">
                                    <div class="form-group">
                                        <input 
                                            type="file" 
                                            name="profilePics" 
                                            id="profilePicsFile" 
                                            accept="image/*"
                                        >
                                    </div>
                                    <input 
                                        type="button"
                                        value="Remove"
                                        id="removeProfilePics"
                                        style="display: <%= user.profilePics.includes('default.png') ? 'none' : 'block' %> "
                                        class="btn btn-danger btn-sm my-2"
                                    >
                                </form>
                            </div>
                            <div class="profile-form">
                                <form action="/dashboard/create-profile" method="POST">
                                    <div class="form-group mb-3">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" value="<%= user.email %> " placeholder="Email" disabled>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="shorttitle">Title</label>
                                        <input type="text" class="form-control" id="title" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label for="bio" class="form-label">Bio</label>
                                            <textarea class="form-control" id="bio" rows="3"></textarea>
                                          </div>
                                    </div>
                                    <div>
                                        <p class="lead">Your Social Links: </p>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fab fa-internet-explorer"></i>
                                                </span>
                                            </div>
                                            <input 
                                                type="text"
                                                placeholder="Website Link"
                                                class="form-control"
                                                id="website"
                                            >
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fab fa-twitter"></i>
                                                </span>
                                            </div>
                                            <input 
                                                type="text"
                                                placeholder="Twitter Link"
                                                class="form-control"
                                                id="twitter"
                                            >
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fab fa-facebook-square"></i>
                                                </span>
                                            </div>
                                            <input 
                                                type="text"
                                                placeholder="Facebook Link"
                                                class="form-control"
                                                id="facebook"
                                            >
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Create Profile">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="crop-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resize Your Image</h5>
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="cropped-img">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" id="cancel-cropping" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="upload-image" class="btn btn-primary">Save</button>
                </div>
            </div>
            </div>
        </div>

    </div>

<%- include('../../partials/footer.ejs')  %> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/scripts/profilePicsUpload.js"></script>

</body>
</html>